.box{
	height:503px;
}
#main{
	margin-top:50px;
}
img{
	max-width: 100%; 
	height: auto;
}
html{
	font-size: 1rem;
}
@media (max-width: 1204px) {
	html {
		font-size: calc(0.6rem + 0.4vw);
	}
}
@media only screen and (max-width: 768px) {
    #namecard{
		position:initial;
		text-align:center;
	}
	#content_parent{
		padding:0;
	}
	#nameCard a{
		font-size:1em;
	}
	#buttons\ justify-content-center > div{
		padding-left:5em;
		padding-right:5em;
	}
	#resumeEducation .card-title{
		line-height:initial;
	}
	#name{
		font-size:2.5em; 
		font-weight:1000;
		font-family: 'Kaushan Script', cursive;
		word-spacing: 0.4em; 
		letter-spacing:0.1em; 
		text-shadow: 0.04em 0.02em aliceblue;
	}
	#introDesc{
		font-size:1em; 
		font-weight: 600; 
		color: rgb(107, 9, 36);
		line-height:1em; 
		font-family: 'Kalam', cursive;
	}
  
}
@media only screen and (min-width: 769px){
	#nameCard{
		position:fixed;
	}
	#name{
		font-size:3.5em; 
		font-weight:1000;
		font-family: 'Kaushan Script', cursive;
		word-spacing: 0.4em; 
		letter-spacing:0.1em; 
		text-shadow: 0.04em 0.02em aliceblue;
	}
	#introDesc{
		font-size:1em; 
		font-weight: 600; 
		color: rgb(107, 9, 36);
		line-height:0.5em; 
		font-family: 'Kalam', cursive;
	}
}
a{
	color:black;
	font-size:1.5em;
}
a: link{
	text-decoration: none;
}
#nameCard{
	margin:auto;
	border:1px solid #9099a2;
	background:transparent;
	opacity:0.95;
	color: #222BAA;
}
#nameCard hr{
	border: 0;
	height: 0.1em;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#contact a{
	color:#721837;
	font-weight:700;
}
#linkBox a{
	font-size:2em;
}
#linkBox a:hover{
	transform:scale(1.5);
	transition:0.2s;
}
#buttons{
	text-align:center;
	margin:auto;
}
#buttons a{
	font-weight:bolder;
}
#content_box{
	background:#d0dcf7;
}
#resumeBox hr{
	border: 0;
	height: 0.12em;;
	background-image: linear-gradient(90deg, rgba(24,18,122,1) 0%, rgba(208,220,247,1) 73%, rgba(208,220,247,1) 100%);
}
.pdf_link{
	--delay: calc((var(--char-index) + 1) * 400ms);
	animation: breathe 3000ms infinite both;
	animation-delay: var(--delay);
}
.pdf_link:hover{
	animation-play-state: paused;
}
@keyframes breathe {
	0% {font-variation-settings: 'wght' 100, 'wdth' 85;font-size: 0.7em;;}
	50% {font-variation-settings: 'wght' 100, 'wdth' 85;font-size: 1em;}
	100% {font-variation-settings: 'wght' 100, 'wdth' 85;font-size: 0.7em;}
}
.card{
	overflow:visible;
	box-shadow: 5px 5px #50596e;
	border-radius: 1em;
}
@keyframes slideInFromRight {
	0% {transform: translateX(150%);}
	100% {transform: translateX(0);}
}
#projectDiv .card{
	animation: 1s ease-out 0s 1 slideInFromRight;
}
#projectDiv .card:hover{
	-webkit-transform: scale(1.1);
   	-ms-transform: scale(1.1);
	transform: scale(1.1);
	border-radius:2em;
	transition:0.5s;
}


